<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BadEnding</title>
    <script src="https://kit.fontawesome.com/d5ec65f1e9.js" crossorigin="anonymous"></script>
    <script src="header.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script>
    <script src="retry.js" defer></script>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="badEnding.css">
</head>
<body>
    <div id="nav_bar">
        <!-- 헤더 -->
    </div>

    <div class="fail_container">
        <h2>패배</h2>
        <div class="fail_dist">
            당신은 교수님과의 대결에서 패배하셨습니다.</br>
            선택권이 없어진 당신은 대학원으로 끌려갑니다.
            <!-- case2 
                당신은 교수님과의 대결에서 패배해 2배의 과제를 얻었습니다.
            -->
        </div>

        <button id="retry">
            Retry?
        </button>
    </div>

</body>
</html>