<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BadEnding</title>
    <script src="https://kit.fontawesome.com/d5ec65f1e9.js" crossorigin="anonymous"></script>
    <script src="header.js" defer></script>
    <script src="retry.js" defer></script>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="ranking.css">
    <link rel="stylesheet" href="goodEnding.css">
</head>
<body>
    <div id="nav_bar">
        <!-- 헤더 -->
    </div>

    <div class="good_container">
        <h2>승리</h2>
        <div class="good_dist">
            당신은 교수님과의 대결에서 승리하셨습니다.</br>
            교수님의 총애를 받으며 대학원으로 끌려갑니다.
        </div>

        <button id="retry">
            Retry?
        </button>
    </div>

</body>
</html>