<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-LPvXVVAlyPoBSGkX8UddpctDks+1P4HG8MhT7/YwqHtJ40bstjzCqjj+VVVDhsCo" crossorigin="anonymous">

</head>
<body style="background-color: #6e6e6e ">
    <div style="text-align: center;">
        <font size="10em" color="black" font-weight= "bold" >
            <b>    you are A+</b>
        </font>
        
        <br />
        <img src="/views/images/good.png" />
        <script>
            function restart(){
                location.href = "/";
            }

        </script>
        <br />
        <div>
        <button type="button" class="btn btn-success" style= "width: 150px; height: 50px;" id="my_btn" onclick="restart()";><font size ="5em">ReStart?</font></button>
        </div>
   </div>

</body>
</html>