<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor VS Student</title>
    <style>
        * {padding : 0; margin: 0;}
        canvas {background: #eee; display: block; margin : 0 auto;}
    </style>
    
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
    <div style="text-align: center;">
        <font size="10em" color="green">
            Professor VS Student
        </font>
   </div>

    <canvas id = "myCanvas" width ="1024" height = "768"></canvas>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var radius = 16
        var playerSpeed = 4

        function PlayerBall(id){
            this.id = id;
            this.color = "#FF00FF";
            this.x = 1024/2;
            this.y = 768/2;
            this.state = 1;
        }
        
        var balls  = [];
        var ballMap = {};
        var myId;

        var rightPressed = false;
        var leftPressed = false;
        var upPressed = false;
        var downPressed = false;

        document.addEventListener("keydown", keyDownHandler,false);
        document.addEventListener("keyup", keyUpHandler,false);

        function keyDownHandler(e){
            if (e.code == 'ArrowRight'){
                rightPressed = true;
            }
            if (e.code == 'ArrowLeft'){
                leftPressed = true;
            }
            if(e.code == "ArrowDown"){
                downPressed = true;
            }
            if(e.code == "ArrowUp"){
                upPressed = true;
            }
        }

        function keyUpHandler(e){
            if (e.code == "ArrowRight"){
                rightPressed = false;
            }
            if (e.code == "ArrowLeft"){
                leftPressed = false;
            }
            if(e.code == "ArrowDown"){
                downPressed = false;
            }
            if(e.code == "ArrowUp"){
                upPressed = false;
            }
        }

        function joinUser(id,color,x,y){
            let ball = new PlayerBall(id);
            ball.color = color;
            ball.x = x;
            ball.y = y;

            balls.push(ball);
            ballMap[id] = ball;

            return ball;
        }

        function leaveUser(id){
            for(var i = 0 ; i < balls.length; i++){
                if(balls[i].id == id){
                    balls.splice(i,1);
                    break;
                }
            }
            delete ballMap[id];
        }

        function updateState(id,x,y){
            let ball = ballMap[id];
            if(!ball){
                return;
            }
            ball.x = x;
            ball.y = y;

        }
        function sendData() {
            let curPlayer = ballMap[myId];
            let data = {};
            data = {
                id : curPlayer.id,
                x: curPlayer.x,
                y: curPlayer.y,
            };
            if(data){
                socket.emit("send_location", data);
            }
        }
        
        function collisionDetection(){
            let ball = ballMap[myId]
            for(var i = 0; i < enemys.length ; i++){
                if(  Math.sqrt((ball.x - enemys[i].startingX)**2 + (ball.y - enemys[i].startingY)**2) <= enemyRadius + radius){
                    ball.state = 0;
                    socket.emit('collision_detect', {id : myId});
                    break;
                }
            }
        }
        

        
        var socket = io();

        socket.on('user_id', function(data){
            myId = data;
        });
        socket.on('join_user', function(data){
            joinUser(data.id, data.color, data.x, data.y);
        })
        socket.on('leave_user', function(data){
            leaveUser(data);
        })
        socket.on('update_state', function(data){
            updateState(data.id, data.x, data.y);
        })
        
        socket.on('collision_update', function(data){
            for( var i = 0 ; i < balls.length; i++){
            if(balls[i].id == data.id){
                balls[i].state = 0;
                break;
            }
        }
        })

        
        var enemys = [];
        var enemyRadius = 10;
        var enemyAliveTime = 400;
        function EnemyBall(id){
            this.id = id;
            this.color = "#000000";
            this.startingX = 1024/2;
            this.startingY = 768/2;
            this.destinationX = 0;
            this.destinationY = 0;
            this.initialX = 0;
            this.initialY = 0;
            this.wall = 0;
        }


        socket.on('enemy_generator', function(data){
            let enemy = new EnemyBall()
            enemy.startingX = data.startingX;
            enemy.startingY = data.startingY;
            enemy.initialX = data.startingX;
            enemy.initialY = data.startingY;
            //적 목적지 데이터 받아오기 해야함
            enemy.destinationX = data.destinationX;
            enemy.destinationY = data.destinationY;
            enemy.wall = data.wall;
            enemy.speedX = data.speedX;
            enemy.speedY = data.speedY;
            enemys.push(enemy);
            console.log(enemys);
        })

        function renderGame() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                collisionDetection();
                for (let i = 0; i < balls.length; i++) {
                    let ball = balls[i];
                    if (ball.state == 0){
                        continue
                    }
                    ctx.fillStyle = ball.color;
                    ctx.beginPath();
                    ctx.arc(ball.x, ball.y, radius, 0, Math.PI * 2, false);
                    ctx.closePath();
                    ctx.fill();
                    
                    ctx.beginPath();
                    ctx.font = '15px Arial';
                    ctx.fillText(`player ${i}`,ball.x-radius-7, ball.y-radius);
                    ctx.closePath();
                }

                for (let j = 0; j < enemys.length; j++){
                    let enemy = enemys[j];

                    ctx.fillStyle = enemy.color;
                    ctx.beginPath();
                    ctx.arc(enemy.startingX, enemy.startingY, enemyRadius, 0, Math.PI *2, false);
                    ctx.closePath();
                    ctx.fill();
                }

                // 적 위치 옮겨주는 코드
                for ( let k = 0 ; k < enemys.length; k++){
                    let enemy = enemys[k];
                    if(enemy.wall == 0){//leftSide
                        if (enemy.destinationY >= enemy.startingY){
                            var distanceX = enemy.destinationX - enemy.initialX;
                            var distanceY = enemy.destinationY - enemy.initialY;
                            var speedY = distanceY/enemyAliveTime;
                            var speedX = distanceX/enemyAliveTime;
                            enemy.startingX += speedX;
                            enemy.startingY += speedY;
                        }
                        else{
                            var distanceX = enemy.destinationX - enemy.initialX;
                            var distanceY = enemy.initialY - enemy.destinationY;
                            var speedY = distanceY/enemyAliveTime;
                            var speedX = distanceX/enemyAliveTime;
                            enemy.startingX += speedX;
                            enemy.startingY -= speedY;
                        }
                    }
                    else if (enemy.wall == 1){
                        if (enemy.destinationY >= enemy.startingY){
                            var distanceX = Math.abs(enemy.destinationX - enemy.initialX);
                            var distanceY = Math.abs(enemy.destinationY - enemy.initialY);
                            var speedY = distanceY/enemyAliveTime;
                            var speedX = distanceX/enemyAliveTime;
                            enemy.startingX -= speedX;
                            enemy.startingY += speedY;
                        }
                        else{
                            var distanceX = Math.abs(enemy.destinationX - enemy.initialX);
                            var distanceY = Math.abs(enemy.initialY - enemy.destinationY);
                            var speedY = distanceY/enemyAliveTime;
                            var speedX = distanceX/enemyAliveTime;
                            enemy.startingX -= speedX;
                            enemy.startingY -= speedY;
                        }
                    }
                    else if (enemy.wall == 2){
                        if (enemy.destinationX >= enemy.startingX){
                            var distanceX = Math.abs(enemy.destinationX - enemy.initialX);
                            var distanceY = Math.abs(enemy.destinationY - enemy.initialY);
                            var speedY = distanceY/enemyAliveTime;
                            var speedX = distanceX/enemyAliveTime;
                            enemy.startingX += speedX;
                            enemy.startingY += speedY;
                        }
                        else{
                            var distanceX = Math.abs(enemy.destinationX - enemy.initialX);
                            var distanceY = Math.abs(enemy.initialY - enemy.destinationY);
                            var speedY = distanceY/enemyAliveTime;
                            var speedX = distanceX/enemyAliveTime;
                            enemy.startingX -= speedX;
                            enemy.startingY += speedY;
                        }
                    }
                    else if (enemy.wall == 3){
                        if (enemy.destinationX >= enemy.startingX){
                            var distanceX = Math.abs(enemy.destinationX - enemy.initialX);
                            var distanceY = Math.abs(enemy.destinationY - enemy.initialY);
                            var speedY = distanceY/enemyAliveTime;
                            var speedX = distanceX/enemyAliveTime;
                            enemy.startingX += speedX;
                            enemy.startingY -= speedY;
                        }
                        else{
                            var distanceX = Math.abs(enemy.destinationX - enemy.initialX);
                            var distanceY = Math.abs(enemy.initialY - enemy.destinationY);
                            var speedY = distanceY/enemyAliveTime;
                            var speedX = distanceX/enemyAliveTime;
                            enemy.startingX -= speedX;
                            enemy.startingY -= speedY;
                        }
                    }
                    
                    if (enemy.startingX < -100 || enemy.startingX > 1400 || enemy.startingY < -100 || enemy.startingY > 1400){
                        enemys.splice(k,1);
                    }
                }

                // 플레이어 옮겨주는 코드
                let curPlayer = ballMap[myId];
                if (rightPressed){
                    curPlayer.x += playerSpeed;
                }
                if (leftPressed ){
                    curPlayer.x -= playerSpeed;
                }
                if(upPressed ){
                    curPlayer.y -= playerSpeed;
                }
                if(downPressed ){
                    curPlayer.y += playerSpeed;
                }

                sendData();
            }
        
        var isStart = false;
      
        function update() {
            renderGame();
        }

        setInterval(update, 10);



        function start(){
            isStart = true;
            socket.emit('start', { id: myId});
        }

        socket.on('start_game', function(){
            isStart = true;
        })
    </script>
    <script>

    </script>
    <div style="text-align: center;">
        <button style= "width: 150px; height: 50px;" id="my_btn" onclick="start()";><font size ="5em">Game Start</font></button>
    </div>
    <div style="text-align: center;">
        <font size="5em" color="green">
            <span>키보드 방향키를 통해 움직이세요. </span>
            <p>Player0가 Host입니다. Host가 시작버튼을 눌러야 게임이 시작됩니다.</p> 
        </font>
         
    </div>
</body>
</html>