@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    
}
*{
    box-sizing: border-box;
}



.ranking__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

.ranking__list li{
    margin-right: 25px;
    margin-left: 25px;
}

.ranking__container {
    display: column;
    /* position: absolute; */
    text-align: center;
    box-shadow:  0 0 10px 2px rgba(100 , 100, 100);
    border-radius: 10px;
    border-width: 2px;
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    
    min-width: 400px;
    
}

td{
    width: 200px;
}