<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RankingPage</title>
    <script src="https://kit.fontawesome.com/d5ec65f1e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="ranking.css">
</head>
<body>
    <div class="nav_bar">
        <div class="navbar__name">
            <a href=""><i class="fas fa-gamepad"></i></a>
            Professor vs Student
        </div>

        <ul class="navbar__menu">
            
            <li><a href="">게임 방법</a></li>
            <li><a href="">랭킹</a></li>
            <li><a href="">방명록</a></li>
        </ul>

        <ul class="navbar__icons">
            <i class="fas fa-share-alt-square"></i>
        </ul>
    </div>

    <div class="ranking__container">
        <h2 class="ranking__header">랭킹</h2>
        <div class="ranking__list">
            <table>
                <tr>
                    <th>순위</th>
                    <th>닉네임</th>
                    <th>최고 기록</th>
                </tr>
                <tr>
                    <td>1위</td>
                    <td>영길</td>
                    <td>7 Round</td>
                </tr>
                <tr>
                    <td>2위</td>
                    <td>영길</td>
                    <td>6 Round</td>
                </tr>
            </table>
            
        </div>

        
    </div>
    
</body>
</html>