body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    
}

.nav_bar{
    background-color: #FF774D;
    padding : 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-weight: bold;
    font-size: 1.2rem;
    
}

.navbar__menu li{
    padding : 8px 12px;
    color: black;
    margin-right: 50px;
    
}

.navbar__name {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.nickname{
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border-width: 1px;
    border-color: black;
    display: flex;
}

.nickname__wrapper {
    display: column;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 40%;
    
  }
  
.nickname__wrapper .nickname__discription {
    /* display: inline-block; */
    vertical-align: middle;
}
 
.nickname__wrapper .second_wrapper {

    width: 400px;
    height: 100px;
    background-color: #FF774D;
    border-radius: 1rem;
}
.nickname__wrapper .second_wrapper .nickname__discription {
    padding-top: 4%;
}

.nickname__discription{
    font-size: 1.1rem;
}

.nickname__wrapper .second_wrapper .nickname__input {
    border-radius: 5px;
    margin-top: 10px;
    width: 300px;
    height: 20px;
}

.nickname__wrapper .confirm {
    border-radius: 5px;
    

    height: 25px;
}

.ranking__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-weight: bold;
    font-size: 1.2rem;
    
}

.ranking__list li{
    margin-right: 25px;
    margin-left: 25px;
}


.ranking__container {
    display: column;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 40%;
    border-radius: 10px;
    border-width: 2px;
    background-color: #FF774D;
}

